html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

body {
  background: white url("../img/matrix_background.jpg") no-repeat right bottom;
}

header {
  background-color: #333;
  width: 100%;
  height: 65px;
}

.list-vertical {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    /*-webkit-padding-start: 40px;*/
}

.menu-vertical{
    /*margin-bottom: 0;*/
    width: 40%;
    float: left;
}

.link-vertical{
    display: list-item;
    text-align: -webkit-match-parent;
    border: 2px solid lightseagreen;
    border-right: none;
    border-left: none;
    padding: 5px;
    width: 95%;
    background-color: white;
    text-align: center;
    color: green;
}

.link-vertical:hover{
    background-color: lightgrey;
}

.content{
    width: 55%;
    float: right;
}

.link-bottom{
    display: block;
    margin-top: 10px;
}

.elem-bottom{
    width: 33%;
    height: 100%;
    float: left;
    text-align: center;
}

.top-span{
    margin-top: 1%;
    height: 90%;
    border-radius: 20px;
    border: 2px solid lightseagreen;
    background-color: white;
}

.footer{
    height: 20%;
    width: 100%;
    display: block;
    /*border-top: 1px solid black;*/
    float: left;
    background-color: white;
}

.orange{
    color: orange;
}