<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="home/static/home/css/graphic_1.css"/>
    <title>My Home Page</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/hamburger.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/graphic_1.css' %}" />
</head>
<body>

<div class="menu-vertical top-span">

    <ul class="list-vertical">
        <li class="row-vertical">
        <!--*********************************** HAMBURGER BUTTON *********************************************-->
          <div class="menu-links">
            <ul class="toggle-menu">
              <li class="toggle">
                <span class="toggle-menu-bar"></span>
                <span class="toggle-menu-bar"></span>
                <span class="toggle-menu-bar"></span>
              </li>
              <li class="content" style="display: none;">
                <ul>
                  <li><a href="#">Link 1</a></li>
                  <li><a href="#">Link 2</a></li>
                </ul>
              </li>
            </ul>
          </div>
            <br><br>
          <!--*********************************** End of hamburguer button **********************************-->
        </li>
        <a  href="/" class="link-vertical"><li class="row-vertical"><span class="orange">&#9873;</span> Index </li></a>
        <a  href="/rpm" class="link-vertical"><li class="row-vertical"> RPM         </li></a>
        <a  href="/velocity" class="link-vertical"><li class="row-vertical"> Velocity Rate   </li></a>
        <a  href="/gps" class="link-vertical"><li class="row-vertical"> GPS         </li></a>
        <a  href="/fuel" class="link-vertical"><li class="row-vertical"> Fuel    </li></a>
        <a  href="/temperature" class="link-vertical"><li class="row-vertical"> Temperature </li></a>
        <a  href="/positions" class="link-vertical"><li class="row-vertical"> Positions  </li></a>
        <a  href="/trail" class="link-vertical"><li class="row-vertical"> Trail Tracking  </li></a>
        <a  href="/developer" class="link-vertical"><li class="row-vertical"> DEVELOPER...</li></a>
    </ul>
</div>

<div class="content top-span">
<!--Here it goes all the magic...-->
    <!-- You may set style: "width: ...; height: ..." to size the chart -->
    <div id="graph"></div>
</div>

<footer>
    <div class="footer">
        <div class="elem-bottom">
            <a href="http://www.vgmotostudent.com/es/index.html">Link a VG-MOTOSTUDENT</a><br/>
        </div>
        <div class="elem-bottom">
            <a href="/charts">ENGINE STATS</a><br/>
        </div>
        <div class="elem-bottom">
            <a href="/">HOME</a><br/>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dygraphs_1.1.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/hamburger.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/graphic_1.js' %}"></script>
</footer>

</body>
</html>